
.icon-th:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-th-large:before { content: '\e802'; } /* '' */
.icon-folder:before { content: '\e803'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
